@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/query">MedAssist</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <AuthorizeView>
            <Authorized Context="auth">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="query">
                        <span class="bi bi-search-nav-menu" aria-hidden="true"></span> Query
                    </NavLink>
                </div>

                <AuthorizeView Roles="Admin" Context="adminAuth">
                    <Authorized>
                        <div class="nav-item px-3 mt-2">
                            <span class="nav-section-label px-1">Admin</span>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/books">
                                <span class="bi bi-book-nav-menu" aria-hidden="true"></span> Books
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/books/upload">
                                <span class="bi bi-upload-nav-menu" aria-hidden="true"></span> Upload Book
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/users">
                                <span class="bi bi-people-nav-menu" aria-hidden="true"></span> Users
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <div class="nav-item px-3 mt-2">
                    <form method="post" action="/logout" data-enhance="false">
                        <button type="submit" class="nav-link btn btn-link text-start p-0 border-0">
                            <span class="bi bi-box-arrow-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
